* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    outline: none;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to right, #54B948, #1E9E4E);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

button {
    margin-top: 150px;
    width: 150px;
    height: 50px;
    border-radius: 5px;
    cursor: pointer;
    background-color:#f1f1f1;
    color:  #1E9E4E;
    font-size: 16pt;
    font-weight: bold;
    transition: all 0.5s ease-in-out;
}

button:hover {
    background-color: #1E9E4E;
    color: #f1f1f1;
    transition: all 0.5s ease-in-out;
}